<style>
	div.icon div[class*="vote"]{
	display: flex;
	overflow: hidden;
	width: 75px;
	height: 75px;
	cursor: pointer;
	} 
	
	.upvote{
	background: url('static/buttons3.3.png') 0 0 no-repeat;
	background-position: 0 -65px;
	} 
	.upvote.on {
	background-position: 0 0px;  
	}
	
	.downvote {
	background: url('static/buttons3.3.png') 0 0 no-repeat;
	background-position: -75 -75px;
	} 
	.downvote.on {
	background-position: -75 0px;
	}
	
	.pic{
	display: inline-block;
	min-width: 505px;
	}
	
	div[class^="num"] {
    position: relative;
	font-size: 200%;
	color:red;
	}
	
	.icon {
	position: relative;
	float: left;
	top: 10px;
	padding: 5px;
	}
	
	img{
	width: 400px;
    height: 400px;
	border: 8px solid black !important;
    border-radius: 7px;
	margin: 10px;
	}
	
	#pic-container{
	-webkit-user-select: none;
	text-align: -webkit-center;
	overflow: auto;
	}
</style>

{% extends "base.html" %}
{% block title %}New Show{% endblock %}
{% block page_content %}



<div id='pic-container' style=''>
	
	{% for link in img %}
	<div class='pic'>
		<img src="static/img/{{link}}">
		
		<div class='icon'>
			<div class="upvote up{{link}}"></div>
			<div class="num{{link}}">0</div>
			<div class="downvote down{{link}}"></div>
		</div>
		
	</div>
	
	{% endfor %}
	
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
	
	$({{togglelist|tojson}}).toggleClass('on');
	$('.upvote, .downvote').click(function () 
	{
		var state = 0;
		var name = this.className.split(' ')
		var clname = name[1].replace(name[0].replace('vote',''),'').replace('.','\\.')
		var score = parseInt($('.num'+clname).text())
		var vote = name[0];
		//-----------------------
		
		$(this).toggleClass('on');
		
		if (vote == 'upvote') 
		{
			if(($(this).hasClass('on')))
			{
				$('.num'+clname).html(++score);
				if($(".down"+clname).hasClass('on'))
				{
					$('.num'+clname).html(++score);
					$(".down"+clname).toggleClass('on');
				}
			}
			else
			{
				$('.num'+clname).html(--score);
			}
			
		} 
		else if(vote == 'downvote')
		{
			if(($(this).hasClass('on')))
			{
				$('.num'+clname).html(--score);
				if ($(".up"+clname).hasClass('on'))
				{
					$('.num'+clname).html(--score);
					$(".up"+clname).toggleClass('on');
				}
			}
			else
			{
				$('.num'+clname).html(++score);
			}
		}
		//----------------
		
		if (!$(".down"+clname).hasClass('on') && !$(".up"+clname).hasClass('on'))
		{
			state =0	
		}
		else if ($(".down"+clname).hasClass('on'))
		{
			state =-1
		}
		else if  ($(".up"+clname).hasClass('on'))
		{
			state = 1
		}
		//----------------------------------------------------------------------------------------------------------------------------------------	
		var info = state+' '+name[0]+' '+name[1]	
		var formdata = JSON.stringify({'VOTE': info})
		$.ajax({
			url: '/picscore',
			data: formdata,
			dataType: 'json',
			contentType: "application/json",
			type: 'POST',
			complete: function(response){
				//console.log(response.responseText)
			},
			
			
		});		
	}
	);
	//-----------------------------------------------------------------------------------------------------------------------------------
	$( document ).ready(function() {
		
		$.ajax({
			url: '/picscore',
			type: 'GET',
			complete: function(response){
				var scorearray = JSON.parse("["+response.responseText+"]");
				//console.log(scorearray[0])
				//console.log(scorearray[0].sort(compareSecondColumn));
				for (i = 0; i < scorearray[0].length; i++)
				{ 
					$('.num'+scorearray[0][i][0]).html(scorearray[0][i][1]);
					
					
				}
				
			},
			
		});
	
		
	});
	
	//-----------------------------------------------------------------------------------------------------------------------------------	
</script>
{% endblock %}









